{% extends 'base.html' %}

{% block title %}Add Contraceptive Statistics{% endblock %}

{% block content %}
<h1>Add Contraceptive Statistics</h1>
<form method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Field</th>
            <th>Input</th>
        </tr>
        
        <tr>
            <td>Women Receiving Contraceptive Care</td>
            <td>{{ form.women_receiving_contraceptive_care }}</td>
        </tr>
        <tr>
            <td>Unintended Pregnancies Averted</td>
            <td>{{ form.unintended_pregnancies_averted }}</td>
        </tr>
        <tr>
            <td>Unplanned Births Averted</td>
            <td>{{ form.unplanned_births_averted }}</td>
        </tr>
        

        <tr>
            <td>Unsafe Abortions Averted</td>
            <td>{{ form.unsafe_abortions_averted }}</td>
        </tr>
        <tr>
            <td>State</td>
            <td>{{ form.state }}</td>
        </tr>
        <tr>
            <td>Year</td>
            <td>{{ form.year }}</td>
        </tr>
    </table>
    <button type="submit">Add Statistics</button>
</form>
{% endblock %}