{% extends "base.html" %}

{% block content %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card" style="width: 400px;">
        <div class="card-body">
            <h5 class="card-title">Add State Budget</h5>
            <form method="POST">
                {% csrf_token %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Input</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>State</td>
                            <td>{{ form.state }}</td>
                        </tr>
                        <tr>
                            <td>Agency</td>
                            <td>{{ form.agency }}</td>
                        </tr>
                        <tr>
                            <td>Budget Line Item</td>
                            <td>{{ form.budget_line_item }}</td>
                        </tr>
                        <tr>
                            <td>State FP Budget</td>
                            <td>{{ form.state_fp_budget }}</td>
                        </tr>
                        <tr>
                            <td>State FP Release</td>
                            <td>{{ form.state_fp_release }}</td>
                        </tr>
                        <tr>
                            <td>Year</td>
                            <td>{{ form.year }}</td>
                        </tr>
                        <tr>
                            <td>Total State Health Budget</td>
                            <td>{{ form.total_state_health_budget }}</td>
                        </tr>
                        <tr>
                            <td>Percent SRH Budget</td>
                            <td>{{ form.percent_srh_budget }}</td>
                        </tr>
                        <tr>
                            <td>Created By</td>
                            <td>{{ form.created_by }}</td>
                        </tr>
                        
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}