{% extends 'base.html' %}

{% block title %}Add FP Commodity{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Add FP Commodity</h2>
    <form method="POST" class="text-center">
        {% csrf_token %}
        <table class="table table-bordered mx-auto" style="width: 80%;">
            <tbody>
                <tr>
                    <td><label for="id_name">Commodity Name:</label></td>
                    <td>{{ form.name }}</td>
                </tr>
                <tr>
                    <td><label for="id_name"> State:</label></td>
                    <td>{{ form.state }}</td>
                </tr>
                <tr>
                    <td><label for="id_funding_required">Funding Required:</label></td>
                    <td>{{ form.funding_required }}</td>
                </tr>
                <tr>
                    <td><label for="id_funding_commitment">Funding Commitment:</label></td>
                    <td>{{ form.funding_commitment }}</td>
                </tr>
                <tr>
                    <td><label for="id_fund_disbursed">Fund Disbursed:</label></td>
                    <td>{{ form.fund_disbursed }}</td>
                </tr>
                <tr>
                    <td><label for="id_donor_agency">Donor Agency:</label></td>
                    <td>{{ form.donor_agency }}</td>
                </tr>
                <tr>
                    <td><label for="id_year">Year:</label></td>
                    <td>{{ form.year }}</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tr>
            </tbody>
        </table>
        
    </form>
</div>
{% endblock %}