{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h2>Child Immunization Tally List</h2>
    
    <div class="mb-3">
        <a href="{% url 'child_immunization_tally_create' %}" class="btn btn-primary">Add New Entry</a>
    </div>

    {% if records %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered" style="max-width: 1200px; margin: auto;">
            <thead>
                <tr>
                    <th>Facility Name</th>
                    <th>Ward</th>
                    <th>LGA</th>
                    <th>State</th>
                    <th>Facility Type</th>
                    <th>Date of Visit</th>
                    <th>Session Type</th>
                    <th>Site Name</th>
                    <th>Hep B (0-24 hours)</th>
                    <th>Hep B (>24 hours - 2 Weeks)</th>
                    <th>OPV 0</th>
                    <th>BCG</th>
                    <th>OPV 1</th>
                    <th>PENTA 1</th>
                    <th>PCV 1</th>
                    <th>ROTA 1</th>
                    <th>IPV 1</th>
                    <th>OPV 2</th>
                    <th>PENTA 2</th>
                    <th>PCV 2</th>
                    <th>ROTA 2</th>
                    <th>OPV 3</th>
                    <th>PENTA 3</th>
                    <th>PCV 3</th>
                    <th>ROTA 3</th>
                    <th>IPV 2</th>
                    <th>MALARIA 1</th>
                    <th>MALARIA 2</th>
                    <th>VITAMIN A (6-11 months)</th>
                    <th>VITAMIN A (12-23 months)</th>
                    <th>MALARIA 3</th>
                    <th>MR 1</th>
                    <th>YELLOW FEVER</th>
                    <th>Men A</th>
                    <th>MR 2</th>
                    <th>MALARIA 4</th>
                    <th>Comments</th>
                    <th>Health Officer Name</th>
                    <th>Health Officer Signature Date</th>
                    <th>Health Officer Phone</th>
                    <th>Head of Unit Name</th>
                    <th>Head of Unit Signature Date</th>
                    <th>Head of Unit Phone</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for tally in records %}
                <tr>
                    <td>{{ tally.facility_name }}</td>
                    <td>{{ tally.ward }}</td>
                    <td>{{ tally.lga }}</td>
                    <td>{{ tally.state }}</td>
                    <td>{{ tally.facility_type }}</td>
                    <td>{{ tally.date_of_visit|date:"d M Y" }}</td>
                    <td>{{ tally.session_type }}</td>
                    <td>{{ tally.site_name }}</td>
                    <td>{{ tally.hep_b_0_24_hours }}</td>
                    <td>{{ tally.hep_b_above_24_hours }}</td>
                    <td>{{ tally.opv_0 }}</td>
                    <td>{{ tally.bcg }}</td>
                    <td>{{ tally.opv_1 }}</td>
                    <td>{{ tally.penta1 }}</td>
                    <td>{{ tally.pcv1 }}</td>
                    <td>{{ tally.rota1 }}</td>
                    <td>{{ tally.ipv1 }}</td>
                    <td>{{ tally.opv2 }}</td>
                    <td>{{ tally.penta2 }}</td>
                    <td>{{ tally.pcv2 }}</td>
                    <td>{{ tally.rota2 }}</td>
                    <td>{{ tally.opv3 }}</td>
                    <td>{{ tally.penta3 }}</td>
                    <td>{{ tally.pcv3 }}</td>
                    <td>{{ tally.rota3 }}</td>
                    <td>{{ tally.ipv2 }}</td>
                    <td>{{ tally.malaria1 }}</td>
                    <td>{{ tally.malaria2 }}</td>
                    <td>{{ tally.vitamin_a_6_11 }}</td>
                    <td>{{ tally.vitamin_a_12_23 }}</td>
                    <td>{{ tally.malaria3 }}</td>
                    <td>{{ tally.mr1 }}</td>
                    <td>{{ tally.yellow_fever }}</td>
                    <td>{{ tally.men_a }}</td>
                    <td>{{ tally.mr2 }}</td>
                    <td>{{ tally.malaria4 }}</td>
                    <td>{{ tally.comments }}</td>
                    <td>{{ tally.health_officer_name }}</td>
                    <td>{{ tally.health_officer_signature_date|date:"d M Y" }}</td>
                    <td>{{ tally.health_officer_phone }}</td>
                    <td>{{ tally.head_of_unit_name }}</td>
                    <td>{{ tally.head_of_unit_signature_date|date:"d M Y" }}</td>
                    <td>{{ tally.head_of_unit_phone }}</td>
                    <td>
                        
                </tr>
                <tr>
                    <td>{{ tally.facility_name }}</td>
                    <td>{{ tally.ward }}</td>
                    <td>{{ tally.lga }}</td>
                    <td>{{ tally.state }}</td>
                    <td>{{ tally.facility_type }}</td>
                    <td>{{ tally.date_of_visit|date:"d M Y" }}</td>
                    <td>{{ tally.session_type }}</td>
                    <td>{{ tally.site_name }}</td>
                    <td>{{ tally.hep_b_0_24_hours }}</td>
                    <td>{{ tally.hep_b_above_24_hours }}</td>
                    <td>{{ tally.opv_0 }}</td>
                    <td>{{ tally.bcg }}</td>
                    <td>{{ tally.opv_1 }}</td>
                    <td>{{ tally.penta1 }}</td>
                    <td>{{ tally.pcv1 }}</td>
                    <td>{{ tally.rota1 }}</td>
                    <td>{{ tally.ipv1 }}</td>
                    <td>{{ tally.opv2 }}</td>
                    <td>{{ tally.penta2 }}</td>
                    <td>{{ tally.pcv2 }}</td>
                    <td>{{ tally.rota2 }}</td>
                    <td>{{ tally.opv3 }}</td>
                    <td>{{ tally.penta3 }}</td>
                    <td>{{ tally.pcv3 }}</td>
                    <td>{{ tally.rota3 }}</td>
                    <td>{{ tally.ipv2 }}</td>
                    <td>{{ tally.malaria1 }}</td>
                    <td>{{ tally.malaria2 }}</td>
                    <td>{{ tally.vitamin_a_6_11 }}</td>
                    <td>{{ tally.vitamin_a_12_23 }}</td>
                    <td>{{ tally.malaria3 }}</td>
                    <td>{{ tally.mr1 }}</td>
                    <td>{{ tally.yellow_fever }}</td>
                    <td>{{ tally.men_a }}</td>
                    <td>{{ tally.mr2 }}</td>
                    <td>{{ tally.malaria4 }}</td>
                    <td>{{ tally.comments }}</td>
                    <td>{{ tally.health_officer_name }}</td>
                    <td>{{ tally.health_officer_signature_date|date:"d M Y" }}</td>
                    <td>{{ tally.health_officer_phone }}</td>
                    <td>{{ tally.head_of_unit_name }}</td>
                    <td>{{ tally.head_of_unit_signature_date|date:"d M Y" }}</td>
                    <td>{{ tally.head_of_unit_phone }}</td>
                    <td>
                        
                </tr>

                <tr>
                    <td>{{ tally.facility_name }}</td>
                    <td>{{ tally.ward }}</td>
                    <td>{{ tally.lga }}</td>
                    <td>{{ tally.state }}</td>
                    <td>{{ tally.facility_type }}</td>
                    <td>{{ tally.date_of_visit|date:"d M Y" }}</td>
                    <td>{{ tally.session_type }}</td>
                    <td>{{ tally.site_name }}</td>
                    <td>{{ tally.hep_b_0_24_hours }}</td>
                    <td>{{ tally.hep_b_above_24_hours }}</td>
                    <td>{{ tally.opv_0 }}</td>
                    <td>{{ tally.bcg }}</td>
                    <td>{{ tally.opv_1 }}</td>
                    <td>{{ tally.penta1 }}</td>
                    <td>{{ tally.pcv1 }}</td>
                    <td>{{ tally.rota1 }}</td>
                    <td>{{ tally.ipv1 }}</td>
                    <td>{{ tally.opv2 }}</td>
                    <td>{{ tally.penta2 }}</td>
                    <td>{{ tally.pcv2 }}</td>
                    <td>{{ tally.rota2 }}</td>
                    <td>{{ tally.opv3 }}</td>
                    <td>{{ tally.penta3 }}</td>
                    <td>{{ tally.pcv3 }}</td>
                    <td>{{ tally.rota3 }}</td>
                    <td>{{ tally.ipv2 }}</td>
                    <td>{{ tally.malaria1 }}</td>
                    <td>{{ tally.malaria2 }}</td>
                    <td>{{ tally.vitamin_a_6_11 }}</td>
                    <td>{{ tally.vitamin_a_12_23 }}</td>
                    <td>{{ tally.malaria3 }}</td>
                    <td>{{ tally.mr1 }}</td>
                    <td>{{ tally.yellow_fever }}</td>
                    <td>{{ tally.men_a }}</td>
                    <td>{{ tally.mr2 }}</td>
                    <td>{{ tally.malaria4 }}</td>
                    <td>{{ tally.comments }}</td>
                    <td>{{ tally.health_officer_name }}</td>
                    <td>{{ tally.health_officer_signature_date|date:"d M Y" }}</td>
                    <td>{{ tally.health_officer_phone }}</td>
                    <td>{{ tally.head_of_unit_name }}</td>
                    <td>{{ tally.head_of_unit_signature_date|date:"d M Y" }}</td>
                    <td>{{ tally.head_of_unit_phone }}</td>
                    <td>
                        
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No entries found.</p>
    {% endif %}
</div>
{% endblock %}