

<!-- records/templates/records/labour_delivery_form.html -->
{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center">Add Immunization  Record</h2>
    <form method="POST" class="text-center">
        {% csrf_token %}
        <table class="table table-bordered mx-auto" style="width: 80%;">
            <tbody>
                {% for field in form %}
                <tr>
                    <td>
                        <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    </td>
                    <td>
                        {{ field }}
                        {% if field.errors %}
                            <div class="text-danger">
                                {{ field.errors|join:', ' }}
                            </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    <a href="{% url 'child_immunization_list' %}">Back to List</a>
</div>

{% endblock %}