{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>State Budgets</h2>
    <a href="{% url 'add_state_budget' %}" class="btn btn-success mb-3">Add New Budget</a> 
    <table class="table table-bordered"  id="partnersTable">
        <thead>
            <tr>
                <th>State</th>
                <th>Agency</th>
                <th>Budget Line Item</th>
                <th>State FP Budget</th>
                <th>State FP Release</th>
                <th>Year</th>
                <th>Total State Health Budget</th>
                <th>Percent SRH Budget</th>
                <th>Created By</th>
                
            </tr>
        </thead>
        <tbody>
            {% for budget in budgets %}
            <tr>
                <td>{{ budget.state }}</td>
                <td>{{ budget.agency }}</td>
                <td>{{ budget.budget_line_item }}</td>
                <td>{{ budget.state_fp_budget }}</td>
                <td>{{ budget.state_fp_release }}</td>
                <td>{{ budget.year }}</td>
                <td>{{ budget.total_state_health_budget }}</td>
                <td>{{ budget.percent_srh_budget }}</td>
                <td>{{ budget.created_by }}</td>
         
            </tr>
            {% empty %}
            <tr>
                <td colspan="10" class="text-center">No records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function() {
        $('#partnersTable').DataTable({
            "ordering": true,  // Enable sorting
            "paging": true,    // Enable pagination
            "searching": true, // Enable searching
        });
    });
</script>
{% endblock %}