{% extends 'base.html' %}

{% block title %}List of Contraceptive Statistics{% endblock %}

{% block content %}
<h1>List of Contraceptive Statistics</h1>
<table class='table table-bordered'>
    <thead>
        <tr>
            
            <th>Women Receiving Contraceptive Care</th>
            <th>Unintended Pregnancies Averted</th>
            <th>Unplanned Births Averted</th>
            <th>Unsafe Abortions Averted</th>
            <th>State</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for stat in statistics %}
        <tr>
           
            <td>{{ stat.women_receiving_contraceptive_care }}</td>
            <td>{{ stat.unintended_pregnancies_averted }}</td>
            <td>{{ stat.unplanned_births_averted }}</td>
            <td>{{ stat.unsafe_abortions_averted }}</td>
            <td>{{ stat.state }}</td>
            <td>{{ stat.year }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No statistics available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}