{% extends 'base.html' %}

{% block title %}FP Commodities List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">FP Commodities</h2>
    <a href="{% url 'add_fp_commodity' %}" class="btn btn-success mb-3">Add New Commodity</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>Funding Required</th>
                <th>Funding Commitment</th>
                <th>Fund Disbursed</th>
                <th>Donor Agency</th>
                <th>Year</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for commodity in commodities %}
            <tr>
                <td>{{ commodity.name }}</td>
                <td>{{ commodity.state }}</td>
                <td>{{ commodity.funding_required }}</td>
                <td>{{ commodity.funding_commitment }}</td>
                <td>{{ commodity.fund_disbursed }}</td>
                <td>{{ commodity.donor_agency }}</td>
                <td>{{ commodity.year }}</td>
                <td>
                   
                    <a href="" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="7" class="text-center">No records found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}