<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Digital Record</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
        <ul class="navbar-nav me-auto"> <!-- Use me-auto to align items to the left -->
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Add Record
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
             <li><a class="dropdown-item" href="{% url 'anc_register_create' %}">ANC Register</a></li>
              
              <li><a class="dropdown-item" href="{% url 'labour_register_create' %}">Labour Register</a></li>
              <li><a class="dropdown-item" href="{% url 'child_immunization_create' %}">Child Immunization Register</a></li>
              
            </ul>
          </li>
          {% endif %}
          <li class="nav-item"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a></li>
         
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              View Record
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'anc_register_list' %}">ANC Register</a></li>
              
              <li><a class="dropdown-item" href="{% url 'labour_register_list' %}">Labour Register</a></li>
              <li><a class="dropdown-item" href="{% url 'child_immunization_list' %}">Child Immunization Register</a></li>
              
            
            
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto"> <!-- Use ms-auto to align items to the right -->
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <button class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.username }} <!-- Display username -->
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li> <!-- Add logout link -->
            </ul>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>